*

!/.gitignore

!/app.config.ts
!/package.json
!/tsconfig.json
!/vite.config.ts
!/vitest.config.ts
!/README.md
!/LICENSE
!/eslint.config.js
!/postcss.config.js

!/src/
!/src/**
!/public/
!/public/**
!/test/
!/test/**

/node_modules/
/.vinxi/
/.output/
/.solid/
/dist/
/.vscode/
/.idea/

/.env
/.env*.local

