*

!.gitignore

!package.json
!tsconfig.json
!vite.config.ts
!vitest.config.ts
!README.md
!LICENSE
!eslint.config.js

!src/**/*
!public/**/*

node_modules/
.vinxi/
.output/
.solid/
dist/
.vscode/
.idea/

.env
.env*.local

.DS_Store
Thumbs.db
*.log
*.log*
